body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.fc-daygrid-day {
  cursor: pointer;
}

.fc-daygrid-day-frame {
  height: 100%;
  width: 100%;
}

.highlighted-med {
  animation: fade-highlight 1s ease-in-out;
  background-color: #d1e7dd !important; /* vert clair Bootstrap */
}

@keyframes fade-highlight {
  from {
    background-color: #0f5132;
    color: white;
  }
  to {
    background-color: #d1e7dd;
    color: inherit;
  }
}

.bg-unread {
  background-color: #eaf4ff !important;
}

.highlight-week {
  background-color: #d0f5d8 !important;
}

.fs-7 {
  font-size: 0.75rem;
}

.alert-wrapper {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.alert-wrapper.show {
  max-height: 500px;
  opacity: 1;
}

html {
  overflow-y: scroll;
}

.no-dismiss-padding {
  padding-right: 1rem !important; /* ou ce que tu veux */
}








